Given a column title as appear in an Excel sheet, return its corresponding column number.

For example:

    A -> 1
    B -> 2
    C -> 3
    ...
    Z -> 26
    AA -> 27
    AB -> 28 
    ...
Example 1:

Input: "A"
Output: 1
Example 2:

Input: "AB"
Output: 28
Example 3:

Input: "ZY"
Output: 701

In [6]:
ord('A')

65

In [3]:
ord('A')

65

In [ ]:
AA

In [15]:
s='AA'
sum=0
for c in s:
    sum = sum*26+ord(c)-64

65
65

In [16]:
sum

27

In [19]:
def titleToNumber(self, s):
        """
        :type s: str
        :rtype: int
        """
        return reduce(lambda x,y: x*26 + y, map(lambda x:ord(x)-64, s), 0)

In [22]:
def titleToNumber(self, s):
        """
        :type s: str
        :rtype: int
        """
        sum = 0
        for c in s:
            sum = sum* 26 + int(c, 36) - 9
        return sum

10

In [23]:
def titleToNumber(self, s):
        """
        :type s: str
        :rtype: int
        """
        s = s.upper()
        LETTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
        maps = {}
        for i in range(26):
            maps[LETTERS[i]] = i+ 1
            
        col = 0 
        for l in s:
            col = 26*col + maps[l]
        
        return col